* {
	margin: 0;
	padding: 0;

}



header {
	width: 100%;
	height: 50px;
	color:red;
	background-color: black;
	text-align: center;
	line-height: 50px;
	float: left;
}

@media only screen and (max-width: 640px) {

	header {
		background-color: blue;
		color: white;
	}
}

#navigacija {
	list-style-type: none;
	width: 100%;
	height: 50px;
	background-color: blue;
	float: left;
}
#navigacija li {
	display: inline-block;
	height: 100;
	width: 25%;
	text-align: center;
    line-height: 50px; 
    font-weight: bold;
	
	}
   #navigacija li a {
	   color: white;
	   text-decoration: none;
   }


#slika {
	width: 100%;
	height: auto;
	float: left;
}



.blok {
	float: left;
	width: 33.33%;
	height:100px;
	background-color: red;
}


@media only screen and (min-width:641px) and (max-width: 1000px) {
	
	#navigacija li {
	background-color: purple;
	
}

}

@media only screen and (max-width: 640px) {

#navigacija li {
	background-color: green;
	display: block;
	width: 100%;
	height: 25%;
}
#navigacija {
	height: 200px;
}

.blok {
    float: initial;
    margin-top: 5px;
	width:100%;
	height: 30px;
}
}




